# A Project for You

## Instructions

For this, you'll need to make several classification models and select the best one. Your notebook will illustrate and explain this process. 

### Detailed Requirements

<ol>
<li> You need one model per person. Decide on a slightly different approach for each person - you can change things like varaibles used, preparation, Regression or Bayes models, and othe things like that.</li>
<li> For each model, you must: </li>
    <ol>
    <li> Create a predictive model. </li>
    <li> Evaluate its performance. </li>
    <li> Create a markdown cell that explains your model choice and evaluation. </li>
    </ol>
<li> Overall, as a team, your team will select the best model from the selection. </li>
<li> <b> This needs to be in one workbook, containing: </b></li>
    <ol>
    <li> Initial data exploration/preparation from original data to 'ready for modeling'. Any preparation that is <b>common</b> to everyone should go here. Exact details will vary, but you want to explore the data visually as well as numerically. Focus on stuff that impacted decisions - what did you find in the data that caused you to take action or make a different choice? </li>
    <li> A markdown cell that briefly explains, ideally mostly in point form, what you found whilst exploring and what preparation you needed to do. Based on those findings, what are the different model approaches?</li>
    <li> Each person's model, evaluation, and explanation in their own section. </li>
    <li> An overall conclusion of what was best and how well it worked. Present your results in some kind of visualization. </li>
    </ol>
<li><b> In the workbook, please have the code that you settled on to explore, clean, model, and evaluate. In the explaination cells, give a brief explaination of what you did and how you got to what you settled on. </b> </li>
<li> In the data preparation, consider statistics stuff. Things such as transformations may be worth a try. </li>
<li> You don't need to spent an eternity tuning the models to get amazing results, we will worry more about that later. Make N reasonable choices on an approach to take based on what the data looks like, do the appropriate preparation, test the models, and observe the results. <b>The raw accuracy scores don't matter, only the approach.</b> </li>
</ol>

Overall, the workbook should clearly show what happened - you exlored the data, made some general processing steps, decided on different approaches based on what you found, created models according to each approach (model specific exploration/prep, model creation, evaluation), and an overall conclusion summarising what you found and what you would try next if you were to continue testing. In doing the data exploration especially, it is pretty normal to have several iterations of exploring and cleaning data - for example, you might add a filter for an outlier, look at a pair plot, adjust the filter, look at a pair plot, add another filter, look at a pair plot, and so on. Please don't show this literal process step by step, condense it down to what matters - something like, "here's the distributions, we did these outlier filters and removed these two features, here's the result", then continuing on. Basically, illustrate what happened and why, but not all of the back and forth or deliberation that went into it.

<b>Note:</b> I said that you can try Bayes as well; it isn't mandatory, but feel free. If you do, you'll need to likely do a little reading on the details of exactly what to use, there are a few variations on Bayes that aren't just 'Bayes' and you'll need to select. The documentation has a pretty good explainer (it is generally linkined in the 'user guide' link of each model's documentaion page, or google "sklearn naive bayes"), and things work more or less the same, you just need to meet the requirements of the specific model you choose.

### Submission and Marks
<ul>
<li> Check your work into the repository. I'm reading one file, so please make sure it is condensed. </li>
<li> Grade distribution: </li>
    <ul>
    <li> Your model - from the end of the common preparation to your evaluation and explaination. Was it done correctly. 25% </li>
    <li> Exploration and common preparation - code was clear, exploration was readable, preparation was done correctly, and explaination made sense. 25% </li>
    <li> Team choice on model approach - based on what you fond in exloration, you made reasonable choices on the different model approaches. 10% </li>
    <li> Overall conclusion - reasonable choice on best model, <b>thoughts on what you may try next if you were to keep testing</b>, and results presented clearly. 20% </li>
    <li> "Can I read and understand it?" - overall, you're explaining what you found, can I read it and understand what you did. 20% </li>
    </ul>
</ul>

#### Data Dictionary

ðŸ“˜ Overview

This dataset provides detailed information about students enrolled in various online courses. It includes demographic, behavioral, and performance features to predict whether a learner will complete the course or drop out.

ðŸ“Š Key Details
<ul>
<li>Rows: 100,000</li>
<li>Target Variable: Completed</li>
</ul>

ðŸ§  Feature Categories
<ul>
<li>Demographic: Gender, Age, Education_Level, Employment_Status</li>
<li>Course Info: Course_Level, Duration, Instructor_Rating</li>
<li>Engagement: Login_Frequency, Video_Completion_Rate, Discussion_Participation</li>
<li>Performance: Assignments_Submitted, Quiz_Score_Avg, Project_Grade, Progress_Percentage</li>
<li>Other: Payment_Mode, Discount_Used, App_Usage_Percentage</li>
</ul>

<b>Note:</b> The feature set is mixed, meaning there are both categorical and numerical variables present in the dataset. <b>Mixed featureds generally require different processing. We haven't done the tool that mixes these easily yet, that's fine and ok, we have stats instead. Right now, there are several decisions you can make to use both the numerical and categorical data together, think about how to represent the data and some of the options we have available for transformations.</b> This is part of what you want to figure out while exploring the data - you have a constraint on your ability to use mixed feature sets, yet you must use the data you <i>do</i> have, along with the different processing choices you can make, to create a model. Again, you are testing a few approaches against each other, the idea isn't to pick the best approach off the top of your head, it's to make reasonable attempts to narrow down what works best. This isn't a trick for one specific action, there's a bunch of things you can do that are reasonable. Later, we'll automate some of this, so we can try more things to work towards the 'best' model.

In [1]:
import pandas as pd

df = pd.read_csv("cleaned_student_data.csv")
TARGET_COL = "Completed"
print(df[TARGET_COL].describe())
df.sample(10)

count            100000
unique                2
top       Not Completed
freq              50970
Name: Completed, dtype: object

,Student_ID,Name,Gender,Education_Level,Employment_Status,City,Device_Type,Internet_Connection_Quality,Course_ID,Course_Name,...,Assignments_Submitted,Quiz_Attempts,Progress_Percentage,Enrollment_Date,Payment_Mode,Fee_Paid,Discount_Used,App_Usage_Percentage,Satisfaction_Rating,Completed
99236,STU199236,Isha Gupta,Male,Bachelor,Employed,Ahmedabad,Laptop,Medium,C102,Data Analysis with Python,...,5,5,54.2,31-03-2024,NetBanking,Yes,No,94,5.0,Completed
57353,STU157353,Ritika Gupta,Male,Bachelor,Student,Chennai,Laptop,High,C102,Data Analysis with Python,...,6,7,57.8,15-03-2024,Credit Card,Yes,Yes,67,4.0,Not Completed
10677,STU110677,Meera Bhardwaj,Male,Diploma,Student,Bengaluru,Mobile,High,C101,Python Basics,...,4,4,56.4,08-02-2024,NetBanking,Yes,No,64,3.0,Not Completed
21081,STU121081,Sneha Bhardwaj,Female,Bachelor,Student,Nagpur,Mobile,Medium,C103,Introduction to AI,...,8,3,69.2,01-06-2024,Free,No,No,71,5.0,Completed
68800,STU168800,Arjun Sharma,Male,HighSchool,Employed,Chennai,Mobile,High,C102,Data Analysis with Python,...,5,7,55.0,04-06-2025,Credit Card,Yes,No,74,5.0,Not Completed
27038,STU127038,Rohan Reddy,Female,Bachelor,Student,Pune,Mobile,Medium,C104,Digital Marketing Essentials,...,8,6,69.6,22-07-2025,Credit Card,Yes,No,100,4.0,Completed
90826,STU190826,Krishna Joshi,Female,Bachelor,Student,Nagpur,Mobile,High,C108,Excel for Business,...,7,6,61.7,15-01-2024,Scholarship,No,No,44,5.0,Not Completed
53633,STU153633,Sakshi Iyer,Female,Bachelor,Self-Employed,Delhi,Laptop,High,C102,Data Analysis with Python,...,4,2,60.1,18-09-2025,Scholarship,No,No,46,4.0,Completed
52194,STU152194,Nikhil Singh,Female,Master,Employed,Bengaluru,Mobile,Medium,C106,Machine Learning A-Z,...,7,3,67.9,24-09-2025,UPI,Yes,No,55,5.0,Not Completed
75354,STU175354,Sakshi Mehta,Male,HighSchool,Student,Lucknow,Mobile,Low,C103,Introduction to AI,...,5,3,48.9,26-10-2023,UPI,Yes,No,70,3.0,Completed

In [9]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Discussion_Participation,100000.0,2.329290,1.591365,0.0,1.0,2.0,3.0,12.0
Time_Spent_Hours,100000.0,3.873632,3.781185,0.5,0.5,2.7,6.2,25.6
Days_Since_Last_Login,100000.0,6.188860,6.982047,0.0,1.0,4.0,9.0,99.0
Peer_Interaction_Score,100000.0,6.294509,1.977552,0.0,4.9,6.3,7.7,10.0
Assignments_Submitted,100000.0,4.775430,1.664640,0.0,4.0,5.0,6.0,10.0
Quiz_Attempts,100000.0,3.772330,2.021276,0.0,2.0,4.0,5.0,16.0
Progress_Percentage,100000.0,53.823104,12.495622,7.6,45.4,53.9,62.4,98.6
App_Usage_Percentage,100000.0,67.859510,19.138354,0.0,55.0,68.0,82.0,100.0
Satisfaction_Rating,100000.0,4.135720,0.746730,1.0,4.0,4.0,5.0,5.0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 26 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Student_ID                   100000 non-null  object
 1   Name                         100000 non-null  object
 2   Gender                       100000 non-null  object
 3   Education_Level              100000 non-null  object
 4   Employment_Status            100000 non-null  object
 5   City                         100000 non-null  object
 6   Device_Type                  100000 non-null  object
 7   Internet_Connection_Quality  100000 non-null  object
 8   Course_ID                    100000 non-null  object
 9   Course_Name                  100000 non-null  object
 10  Category                     100000 non-null  object
 11  Course_Level                 100000 non-null  object
 12  Discussion_Participation     100000 non-null  int64
 13  Time_Spent_Hours             100000 non-null  float64
 14  Days_Since_Last_Login        100000 non-null  int64
 15  Peer_Interaction_Score       100000 non-null  float64
 16  Assignments_Submitted        100000 non-null  int64
 17  Quiz_Attempts                100000 non-null  int64
 18  Progress_Percentage          100000 non-null  float64
 19  Enrollment_Date              100000 non-null  object
 20  Payment_Mode                 100000 non-null  object
 21  Fee_Paid                     100000 non-null  object
 22  Discount_Used                100000 non-null  object
 23  App_Usage_Percentage         100000 non-null  int64
 24  Satisfaction_Rating          100000 non-null  float64
 25  Completed                    100000 non-null  object
dtypes: float64(4), int64(5), object(17)
memory usage: 19.8+ MB

#### Observations:
- No null values
- Consider changing 'Fee_Paid' and 'Discount_Used' to boolean dtype

In [18]:
df['Fee_Paid'] = df['Fee_Paid'].astype('category').map({'Yes': True, 'No': False})
df['Discount_Used'] = df['Discount_Used'].astype('category').map({'Yes': True, 'No': False})

In [23]:
df[['Fee_Paid', 'Discount_Used']].sample(5)

      Fee_Paid Discount_Used
79178    False          True
47754     True         False
98475    False         False
38257    False         False
29468    False         False